<div class="header" align="center">

</div>

<div class="icons">
  <div class="actions_left">
    <mat-grid-list cols="4" rowHeight="150px">
      <mat-grid-tile
          *ngFor="let tile of packages"
          [colspan]="tile.cols"
          [rowspan]="tile.rows"
          >
        <img (click)="onPick(tile)" [ngClass]="tile.picked ? 'picked' : 'normal'" [src]="tile.img" [alt]="tile.name">
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <div class="actions_right">
    <mat-radio-group class="example-radio-group" [(ngModel)]="deployTo">
      <mat-radio-button class="example-radio-button" *ngFor="let opt of options" [value]="opt">
        {{opt}}
      </mat-radio-button>
    </mat-radio-group><br>
    <div class="inputs">
      <input type="text" name="build" placeholder="enter build script ..." [(ngModel)]="build"><br>
      <input type="text" name="run" placeholder="enter run time script ..." [(ngModel)]="run"><br>
      <input type="text" name="port" placeholder="enter port to expose ..." [(ngModel)]="port"><br>
      <input type="text" placeholder="url to artifacts ..." name="artifacts" [(ngModel)]="artifacts"><br>
    </div>
    <button scrollTo scrollYTarget="800" mat-raised-button color="blue" (click)="onGenerateClick()">
      Generate
    </button>
    <a scrollTo href="#edit-section">Generate</a>
  </div><br>
  
</div>

<app-edit-deploy-file [visable]="visability" [value]="value" [type]="deployTo"></app-edit-deploy-file>