img {
    height: 100px;
    width: 100px;
}

.picked {
    border: 4px solid green !important;
}

.normal {
    border: none !important;
}

button {
    margin: 2%;
}

input {
    margin: 2%;
}

.example-radio-group {
    display: inline-flex;
    flex-direction: column;
}

.example-radio-button {
    margin: 5px;
}

.example-selected-value {
    margin: 15px 0;
}

.header {
  background-image: url("../../assets/header.png");
  height: 30vh;
  width: 100%;
  margin: auto;
  background-size: cover;
  background-position: 50% 50%;
  margin-bottom: 5%;
}

.icons {
  width: 100%;
  height: 25vh;
  text-align: center;
}

.actions_left {
  float: left;
  width: 60%;
  display: inline;
}

.actions_right {
  float: right;
  height: 100%;
  text-align: left;
  padding-top: 3.5%;
  padding-right: 10%;
}

.actions_right button {
  width: 100%;
}

mat-grid-tile {
  padding: 5%;
}
